.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.flex-list {
  min-height: 100vh;
  /* like display:flex but will allow bleeding over the window width */
  /* min-width: 100vw; */
  display: inline-block;
}

.parent-container {
  overflow-x: hidden;
  overflow-y: auto;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.movie-list {
  display: flex;
  flex-flow: row wrap;
}

.moviePosterSize {
  width: 50%;
  height: auto;
}
